{% extends 'AppWebBundle::layout.html.twig' %}

{% block content %}
    <div class="row-flow">
        <div class="span12">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th></th>
                    </tr>
                </thead>
                {% for pacjent in pacjenci %}
                    <tr>
                        <td>{{ pacjent.id }}</td>
                        <td>{{ pacjent.imie }}</td>
                        <td>{{ pacjent.nazwisko }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('app_pacjent_show', { pacjentId: pacjent.id }) }}" class="btn btn-mini btn-info"><i class="icon-folder-open icon-white"></i></a>
                                <a href="{{ path('app_pacjent_edit', { pacjentId: pacjent.id }) }}" class="btn btn-mini btn-primary"><i class="icon-pencil icon-white"></i></a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3"><p class="muted empty-table">Brak pacjentów</p></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
